@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "WindSong";
    src: url("/fonts/WindSong/WindSong-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "WindSong";
    src: url("/fonts/WindSong/WindSong-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "TT Commons";
    src: url("/fonts/TTCommons/tt_commons_book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "TT Commons";
    src: url("/fonts/TTCommons/tt_commons_light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "TT Commons";
    src: url("/fonts/TTCommons/tt_commons_medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Poiret One";
    src: url("/fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Waterfall";
    src: url("/fonts/Waterfall/Waterfall-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  :root {
    font-size: 19px;
    scroll-behavior: smooth;
  }

  p,
  select,
  input {
    @apply text-gray-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    @apply text-gray-900;
  }

  h2 {
    @apply font-medium font-header text-6xl xl:text-8xl;
  }

  h3 {
    @apply text-xl font-medium;
  }

  a {
    @apply text-primary underline;
  }

  a.variant-secondary {
    @apply py-1 px-3 bg-white text-sm text-primary font-medium rounded-sm border border-primary no-underline focus:ring-2 focus:ring-primary-light focus:ring-offset-1 hover:bg-primary hover:text-white;
  }

  #footer h1 a {
    @apply text-primary;
  }

  #footer a {
    @apply text-white no-underline;
  }

  label {
    @apply text-sm font-medium;
  }
}
