@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "WindSong";
    src: url("/fonts/WindSong/WindSong-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "WindSong";
    src: url("/fonts/WindSong/WindSong-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "TT Commons";
    src: url("/fonts/TTCommons/tt_commons_book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "TT Commons";
    src: url("/fonts/TTCommons/tt_commons_light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "TT Commons";
    src: url("/fonts/TTCommons/tt_commons_medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }

  :root {
    font-size: 19px;
  }

  p,
  select,
  input {
    @apply text-gray-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    @apply text-gray-900;
  }

  label {
    @apply text-sm font-medium;
  }
}
